<mat-toolbar *ngIf="successMsg" color="accent">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>


<div class="row">
  <div class="column">
    <div class="form-container">
      <form (submit)="createAppointment()">
        <mat-form-field>
          <input [(ngModel)]="appointmentDate" name="appointmentDate" matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="name" name="name" matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="email" name="email" matInput placeholder="Email" type="email">
        </mat-form-field>
        <button mat-raised-button color="primary">Make Appointment</button>
      </form>
    </div>

  </div>
  <div class="column">
    <mat-card class="example-card">
      <img mat-card-image src="https://previews.123rf.com/images/unitonevector/unitonevector1904/unitonevector190403021/123136167-pediatric-dentistry-teeth-checkup-illustration-little-happy-child-and-cheerful-doctor-cartoon-charac.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>


</div>

















