.form-container {
  margin-top: 50px;
  max-width: 350px;


}

form {
  display: flex;
  flex-direction: column;
}

.error {
  background-color: #d84f4f;
  padding: 10px;
}

.success {
  background-color: #73cc73;
  padding: 10px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
